body {
  background-color: #333;
}
.game {
  width: 255px;
  text-align: center;
  font-family: system-ui;
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 50px 0;
}
.title {
  background-color: rgb(26, 255, 0);
  padding: 5px 0;
  margin: 5px 0;
  font-size: 20px;
}
span {
  color: #333;
}
.square {
  width: 80px;
  height: 80px;
  float: left;
  margin: 2px;
  background-color: rgb(26, 255, 0);
  font-size: 50px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square:hover {
  background-color: rgb(0, 255, 51);
  cursor: pointer;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.reset {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(26, 255, 0);
  color: white;
}
.X,
.O {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  color: white;
}
.X span,
.O span {
  color: white;
}
.socialMedia {
  margin-top: 300px;
  display: flex;
  width: 100px;
  float: right;
  justify-content: space-around;
}
.socialMedia i {
  color: white;
  font-size: 20px;
  z-index: 80;
  transition: 0.3s;
}
.socialMedia i:hover {
  color: rgb(191, 54, 4);
}
